.color-primary {
  color: #0071bb !important;
}
.color-grey {
  color: gray !important;
}
.color-white {
  color: white !important;
}
.color_danger {
  color: #f20202 !important;
}
.bg-danger {
  background-color: #f20202 !important;
}
