.nav-bar {
  position: fixed;
  z-index: 1;
  padding-left: 15vw;
  padding-right: 15vw;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 4rem;
  background-color: #3b4c92;
  color: white;
  border-bottom: 1px solid gray !important;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #3b4c92;
  color: white;
}
.active-sidebar {
  color: black !important;
  background-image: linear-gradient(white, #0071bb) !important;
  h3 {
    color: black !important;
  }
}
.img-white {
  filter: brightness(0) invert(1);
}
.img-white:hover {
  filter: unset;
}
.contaner {
  padding-left: 15vw;
  padding-right: 15vw;
}
.bt-primary-color {
  height: 3rem !important;
  background-color: #3b4c92 !important;
  color: white !important;
  border-radius: 5px !important;
}
.bt-danger-color {
  height: 3rem !important;
  background-color: #f20202 !important;
  color: white !important;
  border-radius: 5px !important;
}
.card-radius10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.card-top-radius10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.card-bottom-radius10 {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.bt-view {
  background-color: #3b4c92 !important;
  color: white !important;
  border-radius: 5px;
}
.bt-del {
  background-color: #f20202 !important;
  color: white !important;
  border-radius: 5px;
}
.bt-edit {
  background-color: rgb(212, 189, 189) !important;
  color: black !important;
  border-radius: 5px;
}
.text-1-row {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-2-row {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-3-row {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.position-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9rem;
}
@media only screen and (max-width: 1024px) {
  .contaner {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
  .nav-bar {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}
@media only screen and (max-width: 414px) {
  .contaner {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
  .nav-bar {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
}
