.nav-bar {
  position: fixed;
  z-index: 1;
  padding-left: 15vw;
  padding-right: 15vw;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 4rem;
  background-color: #3b4c92;
  color: white;
  border-bottom: 1px solid gray !important;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #3b4c92;
  color: white;
}
.active-sidebar {
  color: black !important;
  background-image: linear-gradient(white, #0071bb) !important;
  h3 {
    color: black !important;
  }
}
.img-white {
  filter: brightness(0) invert(1);
}
.img-white:hover {
  filter: unset;
}
.contaner {
  padding-left: 15vw;
  padding-right: 15vw;
}
.bt-primary-color {
  height: 3rem !important;
  background-color: #3b4c92 !important;
  color: white !important;
  border-radius: 5px !important;
}
.card-radius10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.card-top-radius10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.card-bottom-radius10 {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
@media only screen and (max-width: 1024px) {
  .contaner {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}
@media only screen and (max-width: 1024px) {
  .contaner {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
  .nav-bar {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}
@media only screen and (max-width: 414px) {
  .contaner {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
  .nav-bar {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
}
